*{
    font-family: 'Play', sans-serif;
}

.background{
    background-color: #BAF1F1;
}

h1{
    color:#D15800;
    text-align: center;

}

input,textarea{
    margin:10px 0px;
    width:100%;
    border-radius: 10px;
    border: 1px solid #D15800;
}

.formcontainer{
    width: 60%;

}

label{
    font-weight: bold;
}

.buttonactive{
    font-size: 1.3rem;
    background-color: #D15800  ;
    color: white;
    border:none;
    border-radius: 5px;
    margin-bottom: 10px;


}

.warning{
    display: block;
    background-color: white;
    border-radius: 10px;
    color: black;
    border:1px solid black;
    padding: 10px;
}

.opacity{
    opacity: 50%;
}

.nostyle{
    border: none;
    border-radius: 0;
}

.alert {
    display: block;
    background-color: red;
    border-radius: 10px;
    color: white;
}

@media screen and (max-width: 1404px) {
  .formcontainer{
    width: 90%;

}
}
