
<div style="width: 60%;margin: 50px auto;">
  <h1>FAQ</h1>
  <accordion [isAnimated]="true">
    <div class="m-3">
      <accordion-group heading="Quali tipi di biciclette vendete nel vostro negozio?" class="card wih">
      Nel nostro negozio, offriamo una vasta gamma di biciclette, tra cui biciclette da strada, mountain bike, biciclette da città, biciclette pieghevoli e molto altro ancora.
    </accordion-group>
    </div>
    <div class="m-3">
      <accordion-group heading="Come faccio a scegliere la bicicletta giusta per me?" class="card wih">
      <p>Per scegliere la bicicletta adatta alle tue esigenze, è importante considerare il tuo stile di guida, il terreno su cui la utilizzerai e il tuo budget. Il nostro personale esperto è a disposizione per consigliarti nella scelta.t</p>
    </accordion-group>
    </div>
    <div class="m-3">
      <accordion-group heading="Fornite garanzia sulle biciclette che vendete?" class="card wih">
      <p>Tutte le biciclette nuove vendute nel nostro negozio sono coperte da una garanzia del produttore. La durata e i dettagli della garanzia possono variare in base al produttore e al modello.</p>
    </accordion-group>
    </div>
    <div class="m-3">
      <accordion-group heading="In quanto giorni spedite dalla data dell'ordine" class="card wih">
      <p>Spediamo in massimo 2/3 giorni</p>
      </accordion-group>
    </div>
  </accordion>
</div>
