*{
  font-family: 'Play', sans-serif;
}

::ng-deep{


   .btn-link{
    text-decoration: none !important;
    color: white !important;
  }
  [_nghost-ng-c1122157931] .card-header.panel-enabled[_ngcontent-ng-c1122157931] {
    cursor: pointer;
    background-color: #D15800 !important;
  }
}


