<div class="mdl-card mdl-shadow--2dp">
    <div class="row">
        <div class="col-md-5">
            <div class="immagine-circolare">
                <img src="../../../assets/images/patrick-hendry-tLg5rJZ3LhU-unsplash.jpg" alt="">
            </div>
        </div>

        <div class="col-md-7 col-xs-12">
            <div class="info-wrap">
                <h1>VETTORAZZO CHRISTIAN</h1>
            </div>
            <ul class="profile-wrap mt-50">
                <li class="m-1">
                    <div class="profile-title">Età</div>
                    <div class="profile-desc">21</div>
                </li>
                <li class="m-1">
                    <div class="profile-title">Username</div>
                    <div class="profile-desc">
                        christian25?
                    </div>
                </li>
                <li class="m-1">
                    <div class="profile-title">Email</div>
                    <div class="profile-desc">
                        chrisvett8502@gmail.com
                    </div>
                </li>
                <li class="m-1">
                    <div class="profile-title">Cellulare</div>
                    <div class="profile-desc">
                        000 000 0000
                    </div>
                </li>
                <li class="m-1">
                    <div class="profile-title">Anno di nascita</div>
                    <div class="profile-desc relative">08/05/2002 </div>
                </li>
            </ul>
        </div>
    </div>                    
</div>