
<div style="text-align: center; color: #d15800">
  <h1>Bentornato {{ nomeProfilo }}</h1>
</div>
<div style="display: flex; justify-content: center">
  <div class="col-12 col-lg-6 container-style">
    <h3>I miei dati:</h3>
    <hr />
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
      <div class="col-6 col-lg-3">
        <img
          class="immagine-circolare"
          src="https://picsum.photos/500/300?random=1"
          alt=""
        />
      </div>
      <div class="col-4">
        <p><b>Username: </b>{{ usernameProfilo }}</p>
        <p><b>Nome: </b>{{ nomeProfilo }}</p>
        <p><b>Cognome: </b>{{ cognomeProfilo }}</p>
        <p><b>Email: </b>{{ emailProfilo }}</p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-6 container-style">
    <h3 style="text-align: center">La mia wishlist</h3>
    <hr>
    <!-- <div class="d-flex flex-column">
      <ul class="list-group list-group-horizontal m-3">
        <li class="list-group-item col-3"><b>Nome</b></li>
        <li class="list-group-item col-6"><b>Descrizione</b></li>
        <li class="list-group-item col-3"><b>Prezzo</b></li>
      </ul>
      <h4>Al momento non hai prodotti nella wishlist</h4> -->

      <div *ngIf="wishlistItems.length > 0; then showWishProducts else NoProducts" > </div>
          
          <ng-template #showWishProducts>

            <div class="d-flex flex-column">
              <ul class="list-group list-group-horizontal m-3">
                <li class="list-group-item col-4"><b>Nome</b></li>
                <li class="list-group-item col-4"><b>Immagine</b></li>
                <li class="list-group-item col-4"><b>Prezzo</b></li>
              </ul>
            </div>

            <div *ngFor="let val of wishlistItems" class="d-flex flex-column">
              <ul class="list-group list-group-horizontal m-3">
                <li class="list-group-item col-4"><b>{{val.product.name}}</b></li>
                <li class="list-group-item col-4"><b> N/D </b></li>
                <li class="list-group-item col-4"><b>{{val.product.listPrice}} € </b></li>
              </ul>
            </div>

          </ng-template>

          <ng-template #NoProducts>
            <h4>Al momento non hai acquistato nessun prodotto</h4>
          </ng-template>

  </div>

      <!-- da aggiungere  -->
      <!-- <ul class="list-group list-group-horizontal-sm m-3">
        <li class="list-group-item col-4">An item</li>
        <li class="list-group-item col-4">A second item</li>
        <li class="list-group-item col-4">A third item</li>
      </ul> -->
</div>

<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-6 gg container-style">
    <h3>I miei prodotti</h3>
    <hr />
    <div class="d-flex flex-column">
      <ul class="list-group list-group-horizontal m-3">
        <li class="list-group-item col-3"><b>Nome</b></li>
        <li class="list-group-item col-6"><b>Descrizione</b></li>
        <li class="list-group-item col-3"><b>Prezzo</b></li>
      </ul>
      <!-- da aggiungere  -->
       <!-- <ul class="list-group list-group-horizontal-sm m-3">
        <li class="list-group-item col-4">An item</li>
        <li class="list-group-item col-4">A second item</li>
        <li class="list-group-item col-4">A third item</li>
      </ul> -->
      <h4>Al momento non hai acquistato nessun prodotto</h4>
    </div>
  </div>

</div>

