<div class="topContainer">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
        <div class="login">
            <form >
                <label for="chk" aria-hidden="true">Login</label>
                <div>
                    <input type="email" id="email" Name="email" placeholder="Email">
                    
                </div>

                <div>
                    <input type="password" name="pswd" placeholder="Password">
                </div>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>