<!-- <div class="container">
  <p class="title">{{DetailList.name}}</p>
<div class="row d-flex">
  <div class="column">
    <img [src]="DetailList.sanitizedPhoto" class="dtimg"  alt="random photo">
  </div>
  
  <div style="display: flex;flex-direction: column;">
    <div class="column m-4">
      <p class="dtdesc">{{DetailList.description}}</p>
    <div class="d-flex">
        <div class="squarecolor blackcolor"></div>
        <div class="squarecolor redcolor"></div>
        <div class="squarecolor"></div>
    </div>
    </div>
    
    <div class="column m-4">
      <p class="dtprice">Prezzo: {{DetailList.listPrice}}€</p>
    <div style="display: flex;">
      <fa-icon [icon]="circle" class="circledt"></fa-icon>
      <p class="circledt">DISPONIBILE</p>
    </div>
    <div style="border: 1px dashed black; background-color: bisque; width: fit-content; padding: 20px;">
      <p> Quantità attuale: <strong> {{ prodQuantity }}</strong> </p>
      <button (click)="decreaseQuantity()" style="margin-left: 25px"> - </button>
      <button (click)="incrementQuantity()" style="margin-left: 25px"> + </button>
    </div>


    </div>
    
    <div class="column m-3 d-flex">
      <div (click)="cart()">
        <p class="addcart">AGGIUNGI AL CARRELLO</p>
      </div>
      <div class="heart-container" (click)="wish()">
        <fa-icon class="heart" [icon]="cuore"></fa-icon>
      </div>
    </div>
  </div>
</div>
</div> -->

<!-- <div class="url"><a routerLink=" ">HOME</a><a class="url" routerLink="/Catalogue">CATALOGO >></a><p class="url">DETTAGLIO</p></div> -->

<div style="display: flex; justify-content: center;" class="row  mx-auto">
  <div class="col-12 mt-3 ">
      <nav aria-label="breadcrumb" class="second ">
          <ol class="breadcrumb indigo lighten-6 first  ">
              <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink=""><span class="mr-md-3 mr-1">Home</span></a><i class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
              <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase " routerLink="/Catalogue"><span class="mr-md-3 mr-1">Torna al catalogo</span></a><i class="fa fa-angle-double-right " aria-hidden="true"></i></li>                          
              <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2"><span class="mr-md-3 mr-1">DETTAGLIO</span></a></li>
          </ol>
      </nav>
  </div>
</div>

<div class="flex-box">
  <div class="left">
      <div class="big-img">
        <img [src]="DetailList.sanitizedPhoto" alt="random photo">
      </div>
  </div>

  <div class="right">
      <div class="pname">{{DetailList.name}}</div>
      <div>
        <p class="dtdesc">{{DetailList.description}}</p>
      <div class="d-flex">
          <div class="squarecolor blackcolor"></div>
          <div class="squarecolor redcolor"></div>
          <div class="squarecolor"></div>
      </div>
      </div>
      <div class="ratings">
          <i class="fas fa-star"></i> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
      </div>
      <div class="price">{{DetailList.listPrice}}€</div>

      <div class="bordogrosso" *ngIf="tokenData === null">
        <p class="bell">Per acquistare un prodotto <a class="link-list" routerLink="/Signup">registrati</a> o effettua il <a class="link-list" routerLink="/Login">login</a></p>
      </div>

      <div *ngIf="tokenData !== null || IsLogged ">
        <div style="border: 1px dashed black; background-color: bisque; width: fit-content; padding: 20px;">
          <p> Quantità attuale: <strong> {{ prodQuantity }}</strong> </p>
          <button (click)="decreaseQuantity()" style="margin-left: 25px"> - </button>
          <button (click)="incrementQuantity()" style="margin-left: 25px"> + </button>
        </div>
        <!-- <div class="quantity">
            <p>Quantity :</p>
            <input type="number" min="1" max="5" value="1">
        </div> -->
        <div class="btn-box">
          <div (click)="cart()">
            <p class="cart-btn">AGGIUNGI AL CARRELLO</p>
          </div>
          <div class="heart-container" (click)="wish()">
          <fa-icon class="heart" [icon]="cuore"></fa-icon>
        </div>
        </div>
      </div>
      
      
  </div>
</div>