/* body{
    background-color: #BAF1F1;
    overflow-x: hidden;
}

form
{
    margin-top: 10%;
    width: 50%;
}
img
{
    border-radius: 6px;
    padding: 10px 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.container{
  max-width: 100%;
  overflow-x: hidden;
}

.dtimg{
  width:fit-content;
}

.title{
  font-size: 1.3rem;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  margin: 20px;
}

.dtdesc{
  font-size: 1.3rem;
  font-family: 'Play', sans-serif;
  margin-top: 50px;
  width: 80%;
}

.dtprice{
  font-size: 1.4rem;
  font-weight: bold;
}

.circledt{
  margin-right: 5px;
  color: green;
}

.squarecolor{
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer
}

.blackcolor{
  background-color: black;
  margin: 5px;
}

.redcolor{
  background-color: red;
  margin: 5px;
}

.addcart{
  color: white;
  border: 1px solid black;
  font-weight: bold;
  background-color: #D15800;
  width: 200px;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s ease-in-out;
}

.heart{
  font-size: 1.3rem;
  color: white;
  transition: 0.4s ease-in-out;
}

.heart-container{
  border: 1px solid black;
  background-color: #D15800;
  height: 33.5px;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  width: 40px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}


.heart-container:hover .heart{
  color:black;
}
.heart-container:hover{
  background-color: white;
}

.addcart:hover{
  background-color: white;
  color: black;
}
@media screen and (max-width:600px) {
    form
    {
        width: 100%;
    }
} */


.flex-box{
  display: flex;
  justify-content: center;
  margin: 5px;
}

.left{
  width: 40%;
  margin-top: 40px;
}

.big-img{
  width: 300px;
}

.big-img img{
  width: inherit;
}

/* .url{
  padding: 0px;
  font-size: 10px;
  color: #aaa;
  display: flex;
  justify-content: center;
  margin-top: 5PX;
}

a {
  text-decoration: none;
} */

.breadcrumb>li+li:before {
  content: ""
}

.breadcrumb {
  padding: 0px;
  font-size: 10px;
  color: #aaa;
}

.breadcrumb>li+li:before {
  content: ""
}

a {
  text-decoration: none;
  color: #aaa ;
}

a:focus,a:active {
  outline: none;
  box-shadow: none;
}

.pname{
  font-size: 22px;
  font-weight: 600;
  margin-top: 50px;
}

.dtdesc{
  font-family: 'Play', sans-serif;
}

.squarecolor{
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer
}

.blackcolor{
  background-color: black;
  margin: 5px;
}

.redcolor{
  background-color: red;
  margin: 5px;
}

.ratings i{
  color: rgb(255, 136, 0);
}
.price{
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}
.size{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.size p{
  font-size: 18px;
  font-weight: 500;
}
.psize{
  width: 60px;
  height: 30px;
  border: 1px solid #ff5e00;
  color: #000;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}
.psize.active{
  border-width: 1.5px;
  color: #ff5e00;
  font-weight: 500;
}
.quantity{
  display: flex;
}
.quantity p{
  font-size: 18px;
  font-weight: 500;
}
.quantity input{
  width: 40px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-left: 15px;
}
.btn-box{
  display: flex;
  margin-top: 40px;
}
.btn-box button{
  font-size: 18px;
  padding: 8px 25px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.cart-btn{
  background-color: #D15800;
  margin-right: 0px;
  color: white;
  padding: 4px;
  cursor: pointer;
  border: 1px solid black;
}

.cart-btn:hover{
  background-color: #D15800;
}

.heart{
  font-size: 1.3rem;
  color: white;
  transition: 0.4s ease-in-out;
}

.heart-container{
  border: 1px solid black;
  background-color: #D15800;
  height: 33.5px;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  width: 40px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}


.heart-container:hover .heart{
  color:black;
}
.heart-container:hover{
  background-color: white;
}

.bordogrosso{
  background-color: #D15800;
  width:fit-content;
  border-radius: 5px;
}

.bell{
  margin: 5px;
}

.link-list{
  font-size: 15px;
  text-decoration: none;
  position: relative;
}

.link-list::after{  
  color: #000;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.link-list:hover::after{
  transform: scaleX(0.9);

}

@media screen and (max-width: 600px) {
  .flex-box {
      flex-direction: column;
      padding: 5px;
  }
}