.box{
    display: none;
    background-color: #D15800;
    border: 1px solid black;
    padding: 20px;
    font-size: 1.2rem;
    position: absolute;
    border-radius:100px;
    color: white;
    cursor: pointer;
}

.gf{
    height: 100%;
    position: relative;
}


@media (max-width: 812px) {
    .box{
        display: block;
        bottom:-40px;
        right: 50px;
    }
}

@media (max-width: 844px) {
    .box{
        display: block;
        bottom:-40px;
        right: 50px;
    }
}

