.background{
  background-color:#BAF1F1 ;
  height: 100%;
  padding: 1.1rem;
}
article{
  font-family: 'Play', sans-serif;
  font-weight: bold;
  color: #f38639;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;

}

.hovers:hover article{
  color: white;
}
.hovers{
  background-color: white;
  transition: 0.6s ease-in-out;
}

.hovers:hover{
  background-color: #D15800
}

.imagesubject{
  width: 40%;
}

@media only screen and (max-width:1180px){
  .imagesubject{
    width: 90%;
    margin: 10px;
  }
}
