<footer id="footer">
    <div class="container-fluid container-lg py-5">
        <div class="row">
            <div class="col-12 col-lg-3">
                <a class="footer-brand" href="">

                    <img class="logo-footer d-inline-block" routerLink="" src="../../../assets/images/BETACOMIO BICYCLE (4).svg" alt="logo Betacomio">

                </a> 
                <p style="color: white;" class="f-item-content">Betacomio è un ecommerce utile per l'acquisto di bici</p>
            </div>
            <div class="col-4 col-lg-3">
                <h4 class="py-2 f-title f-follow-title">Seguici</h4>
                <div class="social-icons">
                    <div class="icon-container">
                        <fa-icon [icon]="icon"></fa-icon>
                    </div>
                    <div class="icon-container">
                        <fa-icon [icon]="icon2"></fa-icon>
                    </div>
                    <div class="icon-container">
                        <fa-icon [icon]="icon3"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <h4 class="py-2 f-title f-team-title">Team</h4>
                <ul class="p-0">
                    <li><a class="f-item-content scritte hover-detail" href="https://www.linkedin.com/in/gabriele-pagnotta-7645b316b/">Gabriele Pagnotta</a></li>
                    <li><a class="f-item-content scritte hover-detail" href="https://www.linkedin.com/in/aleksander-guci-7b7968265/">Aleksander Guci</a></li>
                    <li><a class="f-item-content scritte hover-detail" href="https://www.linkedin.com/in/christian-vettorazzo-fullstackdeveloper/">Christian Vettorazzo</a></li>
                    <li><a class="f-item-content scritte hover-detail" href="https://linkedin.com/in/giuseppe-buscemi-8a1b1121b">Giuseppe Buscemi</a></li>
                </ul>
            </div>
            <div class="col-4 col-lg-3">
                <h4 class="py-2 f-title f-links-title">Link</h4>
                <ul class="p-0">
                    <li><a class="f-item-content scritte hover-detail" routerLink="/Catalogue">Catalogo</a></li>
                    <li><a class="f-item-content scritte hover-detail" routerLink="/Contacts">Contatti</a></li>
                    <li><a class="f-item-content scritte hover-detail" routerLink="/About_us">Dicono di noi</a></li>
                    <li><a class="f-item-content scritte hover-detail" routerLink="/Login">Faq</a></li>
                    <li><a class="f-item-content scritte hover-detail" routerLink="/Signup">Registrati</a></li>
                    <li><a class="f-item-content scritte hover-detail" routerLink="/Login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <hr class="linea-divisione">
        <p class="copyright m-0 pb-3">Copyright 2023© Betacomio-ALL RIGHTS RESERVED</p>
    </div>
</footer>
