<footer id="footer">
    <div class="container-fluid container-lg py-5">
        <div class="row">
            <div class="col-12 col-lg-3">
                <a class="footer-brand" href="">
                    <img class="logo-footer" src="" alt="logo Betacom">
                </a>
                <p class="f-item-content">Betacomio è un ecommerce utile per l'acquisto di bici</p>
            </div>
            <div class="col-4 col-lg-3">
                <h4 class="py-2 f-title f-follow-title">Seguici</h4>
                <div class="social-icons">
                    <div class="icon-container">
                        <i class="fab fa-facebook-f f-item-content"></i>
                    </div>
                    <div class="icon-container">
                        <i class="fab fa-instagram f-item-content"></i>
                    </div>
                    <div class="icon-container">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>

            </div>

        </div>

    </div>

</footer>
