
  <div class=" flex-column">
    <div>
      <h2 class="text-center">LE NOSTRE BICI</h2>
    </div>
    <!-- searchbar -->
    <div class="d-flex justify-content-center boxs">
      <input style="padding-left: 20px;" #input class="searchbar" type="text" (keyup.enter)="serchArticles(input)" placeholder="Cerca...">
      <fa-icon class="glass" (click)="serchArticles(input)"  [icon]="magnifyGlass"></fa-icon>
    </div>
    <div class="d-flex justify-content-center my-3">


      <div class="plusdiv" [style.padding-right.px]="widthplus">
        <ng-template *ngIf="istrue; then pluses else minuses"></ng-template>

        <ng-template #pluses>
          <!-- Contenuto della prima ng-template qui -->
          <div (click)="transformPlus()">
            <fa-icon [icon]="plus" class="plus" [style.display]="'block'"></fa-icon>
            <fa-icon [icon]="minus" class="minus" [style.display]="'none'"></fa-icon>
          </div>
        </ng-template>

        <ng-template #minuses class="boxinput">
          <!-- Contenuto della seconda ng-template qui -->
          <div (click)="transformMinus()">
            <fa-icon [icon]="plus" class="plus" [style.display]="'none'"></fa-icon>
            <fa-icon [icon]="minus" class="minus" [style.display]="'block'"></fa-icon>
          </div>
            <div>
              <label class="positioninput pricelabel" for="inputs">Prezzo:</label>
              <input #inputprice class="positioninput"  id="inputs" type="range" step="0" min="0" max="3000" (input)="updateValue($event)" (keyup.enter)="searchbyprice(inputprice,input)">
              <label class="positioninput pricelabel" for="inputs">{{rangeValue}}€</label>
              <button class="buttonfilter" (click)="searchbyprice(inputprice,input)">Filtra</button>
            </div>

        </ng-template>
      </div>

    </div>
    <!-- card -->
    <ng-template *ngIf="blist.length > 0;then mainlist else notfound"></ng-template>
    <ng-template #notfound>
      <div class="loader"></div>
    </ng-template>
    <ng-template #mainlist>
    <div *ngIf="input.value == '' && !searchOn" class="d-flex justify-content-center flex-wrap flex-row">
      <div *ngFor="let elem of blist|paginate:{itemsPerPage:10,currentPage:p}" class="card" style="width: 18rem;">
        <img [src]="elem.sanitizedPhoto" class="card-img-top" alt="random photo">
        <div class="card-body text-center">
          <div>
            <p>{{elem.productId}}</p>
            <p class="card-title">{{elem.name}}</p>
            <p>{{arrotondo(elem.listPrice)}}€</p>
            <br>
            <a [routerLink]="['/product', elem.name]" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
    <!-- search -->
    <ng-template *ngIf="searchlist.length > 0;then searchlista "></ng-template>
    <ng-template #searchlista>

      <div *ngIf="searchOn" class="d-flex justify-content-center flex-wrap flex-row">
        <div *ngFor="let elem of searchlist|paginate:{itemsPerPage:24,currentPage:p}" class="card" style="width: 18rem;">

          <img [src]="elem.sanitizedPhoto" class="card-img-top" alt="random photo">
          <div class="card-body text-center">
            <div>
              <p class="card-title">{{elem.name}}</p>
              <p>{{arrotondo(elem.listPrice)}}€</p>
              <a [routerLink]="['/product', elem.name]" class="btn button">Maggiori dettagli</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="d-flex justify-content-center align-items-center">
      <fa-icon class="arrow-right" (click)="decreasePage(p)" [icon]="icon2"></fa-icon>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
      <fa-icon class="arrow-right" (click)="increasePage(p)" [icon]="icon"></fa-icon>
    </div>

  </div>


