.box{
  border-radius: 10px;
  justify-content: center;
  border: 2px solid #D15800;
  background-color: white;
}


.float{
  float: left;
}

.card{
  margin: 10px;
  border:2px solid #D15800;
  font-family: 'Play', sans-serif;
}

.card-title{
  font-weight: bold;
}

.button{
background-color: #D15800;
color: white;
cursor: pointer;
transition: 0.3s ease-in-out;
}

.buttonfilter{
  background-color: #e7670b;
  font-size: 1.4rem;
  padding: 10px;
  color: white;
  border-radius: 50px;
  border: none;
  position: relative;
  left: 250px;
  bottom: 20px;
  transition: 0.2s ease-in-out;
  font-family: 'Play', sans-serif;
}

.buttonfilter:hover{
background-color: white;
color: #e7670b;
}
.button:hover{
  transform: scale(1.2);
}

.searchbar{
  width: 100%;
  height: 40px;
  border-radius: 50px;
}



.boxs{
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.glass{
  font-size: 1.6rem;
  position: relative;
  right: 50px;
  cursor: pointer;
}
.plusdiv{
  width: 50px;
  background-color: #D15800;
  border-radius:50px 10px;
  color: white;
  transition: 1s ease-in-out;
}
.plus{
  padding: 0.5rem;
  font-size: 2rem;
}

.minus{
  padding: 0.5rem;
  font-size: 2rem;

}
// pagination
::ng-deep{
  .ngx-pagination{
    padding: 0px !important;
  }
  .current{
    text-align: center;
    width: 50px;
    font-size: 1.7rem !important;
    margin-top: 10px !important;
    border-radius: 100px !important;
    background-color: #D15800 !important;
  }
  .current ~ li{
    display: none !important;
  }
  .pagination-next{
    display: none !important;
  }
  .pagination-previous{
    display: none !important;
  }

}

.pricelabel{
  font-size: 1.2rem;
  font-family: 'Play', sans-serif;
}

.arrow-right{
  font-size: 2rem;
  margin: 50px 10px;
  cursor: pointer;
}


// input range
.boxinput{
  position: relative;
}
.positioninput{
position: relative;
left: 50px;
bottom: 10px;
}

input[type="range"] {
width: 500px;
margin: 0 auto;
-webkit-appearance: none; /* Rimuove lo stile predefinito per WebKit browsers */
background: white; /* Colore dello sfondo del range slider */
border-radius: 5px; /* Bordi arrotondati */
outline: none; /* Rimuove l'outline al focus */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Rimuove lo stile predefinito per WebKit browsers */
  width: 20px;
  height: 20px;
  background: #D15800; /* Colore del cursore */
  border-radius: 50%; /* Il cursore viene mostrato come un cerchio */
  cursor: pointer; /* Cambia il cursore al passaggio sopra il cursore */
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #db7134; /* Blue */
  margin: 40px auto;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}