<div class="body container-fluid py-5">

  <div class="box flex-column">
    <div>
      <h2 class="text-center">LE NOSTRE BICI</h2>
    </div>
    <!-- card -->
    <div class="d-flex justify-content-center flex-wrap flex-row">

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/tizio_con_la_bici.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <div>
            <p class="card-title">Mountain bike pippo</p>
            <p>200€</p>
            <a href="#" class="btn button">Maggiori dettagli</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

