<div class="container body mt-5 mb-5">

    <div class="row">

        <div class="col-lg-6">
            <a routerLink="/Catalogue" class="btn btn-sm btn-dark mb-3 ">Back</a>
            <img src="" width="100%"/>
            <h1 class="mt-3"></h1>
            <p></p>
            <p></p>
        </div>

        <div class="col-lg-6 col-12">
            <h1>Inserisci i tuoi dettagli</h1>
            <form>

                <input type="text" class="form-control" placeholder="Inserisci il tuo nome" />
                <input type="text" class="form-control" placeholder="Inserisci la tua via" />
                <textarea class="form-control" placeholder="Inserisci la tua via"></textarea>
                <button class="btn btn-md btn-dark mt-3">Invia ordine</button>

            </form>


        </div> 


    </div>

</div>
