<header>
    <h1 class="animate__animated animate__lightSpeedInLeft text-center title-admin">SUPER ADMIN</h1>
</header>

<aside>

    <h2 style="padding: 40px;">Amministratore</h2>
    <table>
        <div class="container">
          <div class="col-12">
            <ul style ="list-style-type: none"><!--rimuovo i puntini degli elementi <li>-->
                <li >
                    <div id="utentiregistrati" class="property">Utenti Registrati <button  (mouseover)="moove($event)" (mouseout)="moove($event)" (click)="registryUser()"><i id="moove" class="fa-regular fa-id-card"></i></button></div>
                    <div>
                        <ul>
                            <li id="utentiRegistrati" class="utentiRegistrati">
                                <p>giuseppe buscemi</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="property">Ordini Effettuati <button  (mouseover)="moove($event)" (mouseout)="moove($event)" href=""><i id="moove2" class="fa-brands fa-searchengin"></i></button></div>
                </li>
                <li>
                    <div class="property">Aggiungi o Rimuovi Prodotto <a  (mouseover)="moove($event)" (mouseout)="moove($event)" href=""><i id="moove3" class="fa-duotone fa-plus"></i></a></div>
                </li>
                <li>
                    <div class="property">Richieste Utenti <a (mouseover)="moove($event)" (mouseout)="moove($event)" href=""><i id="moove4" class="fa-solid fa-child icon-dimension"></i></a></div> 
                </li>
            </ul>
          </div>
        </div>
      
    </table>
</aside>

<pre>
    <p>{{result | json}}</p>
</pre>
<ul *ngFor="let res of result | keyvalue">
    <li *ngIf="res.key == 'results' ">{{res.key}} sono qui {{res.value}} </li>
    
   
</ul>
<!--    <h1 class="animate__animated animate__bounce">SUPER ADMIN</h1> animate__animate va sempre messo il secondo ca
cambia in base all'animazione scelta --> 
 