<nav style="position: sticky;z-index: 5;top: 0; display: flex;justify-content: space-between;">
  <!-- logo not logged -->
  <div class="col-2 "*ngIf="tok === null">
    <img class="logo d-inline-block" routerLink="" src="../../../assets/images/BETACOMIO BICYCLE (4).svg" alt="">
    <input type="checkbox" id="check">
    <label class="d-block d-sm-block" for="check" class="checkbtn">
      <fa-icon [icon]="icon"></fa-icon>
    </label>
  </div>

  <!-- central part not logged-->
  <div class="col-6 " *ngIf="tok === null" >
    <ul>
      <li><a routerLink="" (click)="closeMobileMenu()"  class="link-list">Home</a></li>
  <li><a routerLink="/Catalogue" (click)="closeMobileMenu()" class="link-list">Catalogo</a></li>
  <li><a routerLink="/About_us" (click)="closeMobileMenu()"  class="link-list">Dicono di noi</a></li>
  <li><a routerLink="/Contacts" (click)="closeMobileMenu()" class="link-list">Contatti</a></li>
  <li><a routerLink="/superadmin" (click)="closeMobileMenu()" class="link-list">Super Admin</a></li>
  <li><a routerLink="/Faq" (click)="closeMobileMenu()"class="link-list" >FAQ</a></li>
  <li><a class="active hd" (click)="closeMobileMenu()" routerLink="/Login">Login</a></li>
  <li><a class="active hd" (click)="closeMobileMenu()" routerLink="/Signup">Registrazione</a></li>

</ul>

</div>
<!-- login part not logged -->
<div class="col-3 bo pad"  *ngIf="tok === null">
  <ul>
    <li><a class="active"  routerLink="/Login">Login</a></li>
    <li><a class="active" routerLink="/Signup">Registrazione</a></li>
    <label style="margin-top: 30px;" class="switch">
      <input (click)="changeColor()" type="checkbox">
      <span class="slider round"></span>
    </label>
  </ul>
</div>

<!-- logo logged -->
<div class="col-3 " *ngIf="tok !== null">
  <img class="logo d-inline-block" routerLink="" src="../../../assets/images/BETACOMIO BICYCLE (4).svg" alt="">
  <input type="checkbox" id="check">
  <label class="d-block d-sm-block" for="check" class="checkbtn">
    <fa-icon [icon]="icon"></fa-icon>
  </label>
</div>
<!-- central part logged -->
<ul style="text-align: center; margin-top: 10px;" class="col-6 pad " *ngIf="tok !== null">
  <li><a routerLink="" (click)="closeMobileMenu()"  class="link-list">Home</a></li>
  <li><a routerLink="/Catalogue" (click)="closeMobileMenu()" class="link-list">Catalogo</a></li>
        <li><a routerLink="/About_us" (click)="closeMobileMenu()"  class="link-list">Dicono di noi</a></li>
        <li><a routerLink="/Contacts" (click)="closeMobileMenu()" class="link-list">Contatti</a></li>
        <li><a routerLink="/Faq" (click)="closeMobileMenu()"class="link-list" >FAQ</a></li>
    </ul>
    <!-- login part logged -->
    <div class="col-4 col-sm-6 d-lg-flex align-items-center bo pad " *ngIf="tok !== null || IsLogged ">
      <li style="font-family: 'Play', sans-serif; font-size: 1.3rem;cursor: pointer;"><a (click)="logout()" class="link-list">logout</a></li>
      <li style="font-family: 'Play', sans-serif; font-size: 1.3rem; margin-left: 30px;"><a routerLink="/MyProfile" class="link-list">Il mio profilo</a></li>
      <fa-icon (click)="cartmenu()" class="cart" [icon]="cart"></fa-icon>
        <label style="margin-top: 10px;" class="switch">
        <input (click)="changeColor()" type="checkbox">
        <span class="slider round"></span>
      </label>


    </div>

    <!-- cart menu -->
    <div *ngIf="showMenu" style="
     width: 250px;
     max-height: 250px;
     position: absolute;
     background-color: white;
     border-radius: 10px;
     right:15px;top:70px;
     border: 2px solid black;
     overflow-y: auto;
     background-color: #d45d09f3;
     ">


  <ul>
  <li style="color:white"><b>X2</b> bicicletta bella <b>240€</b></li>
  <hr>
  <li style="color:white"><b>X2</b> bicicletta bella <b>240€</b></li>
  <hr>
  <li style="color:white"><b>X1</b> bicicletta bella <b>240€</b></li>
  <hr>
  <hr>
  <li style="color:white"><b>X3</b> bicicletta bella <b>240€</b></li>
  <hr>
  <li style="color:white">Totale: <b>960€</b></li></ul>
  <br>
  <button routerLink="Paypal" style="background-color: white;width: 100%;height:50px; border: none; width: 60%;margin-left: 40px; border-radius: 50px;">Vai al carrello</button>

  </div>

</nav>
