<div class="container-fluid d-flex nav justify-content-between align-items-center ">

<div style="width: 5%; margin-left: 3%; " routerLink="/">

  <img class="logo d-inline-block" src="../../../assets/images/BETACOMIO BICYCLE (4).svg"alt="">
</div>


  <div >
    <div class="btn">
      <a class="link-list" routerLink="/">Home</a>
    </div>
    <a class="margin" class="link-list" href="" routerLink="/Catalogue">Catalogo</a>
    <a class="margin" class="link-list" routerLink="/About_us">Dicono di noi</a>
    <a class="link-list" routerLink="">Contatti</a>
  </div>
  <div>
    <a class="log-button mx-1 my-2" routerLink="/SignUp">Accedi</a>
    <a class="log-button mx-1 my-2" routerLink="">Registrati</a>
  </div>
</div>



