<nav style="position: sticky;z-index: 1;top: 0;">
  <div class="col-2 ">
    <img class="logo d-inline-block" routerLink="" src="../../../assets/images/BETACOMIO BICYCLE (4).svg" alt="">
  </div>
  <input type="checkbox" id="check">
  <label class="d-block d-sm-block" for="check" class="checkbtn">
    <fa-icon [icon]="icon"></fa-icon>
  </label>



    <ul class="col-5 pad"  *ngIf="tok === null ">
      <li><a routerLink="" (click)="closeMobileMenu()"  class="link-list">Home</a></li>
      <li><a routerLink="/Catalogue" (click)="closeMobileMenu()" class="link-list">Catalogo</a></li>
      <li><a routerLink="/About_us" (click)="closeMobileMenu()"  class="link-list">Dicono di noi</a></li>
      <li><a routerLink="/Contacts" (click)="closeMobileMenu()" class="link-list">Contatti</a></li>
      <li><a routerLink="/superadmin" (click)="closeMobileMenu()" class="link-list">Super Admin</a></li>
      <li><a class="active hd" (click)="closeMobileMenu()" routerLink="/Login">Login</a></li>
      <li><a class="active hd" (click)="closeMobileMenu()" routerLink="/Signup">Registrazione</a></li>
      
    </ul>

    <ul class="col-3 bo pad"  *ngIf="tok === null">
      <li><a class="active"  routerLink="/Login">Login</a></li>
      <li><a class="active" routerLink="/Signup">Registrazione</a></li>

    </ul>

    <ul class="col-7 pad " *ngIf="tok !== null">
      <div class="justify-content-center d-flex">

        <li><a routerLink="" (click)="closeMobileMenu()"  class="link-list">Home</a></li>
        <li><a routerLink="/Catalogue" (click)="closeMobileMenu()" class="link-list">Catalogo</a></li>
        <li><a routerLink="/About_us" (click)="closeMobileMenu()"  class="link-list">Dicono di noi</a></li>
        <li><a routerLink="/Contacts" (click)="closeMobileMenu()" class="link-list">Contatti</a></li>
      </div>
    </ul>

    <div class="col-2 d-flex registrationzone" *ngIf="tok !== null">
      <li style="font-family: 'Play', sans-serif; font-size: 1.3rem;"><a routerLink="" (click)="logout()" class="link-list">logout</a></li>
      <li style="font-family: 'Play', sans-serif; font-size: 1.3rem; margin-left: 30px;"><a routerLink="/MyProfile" class="link-list">Il mio profilo</a></li>
      <fa-icon class="cart" [icon]="cart"></fa-icon>

    </div>







</nav>
