*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

nav{
  background-color: #D15800;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 100px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-left: 100px;
}

.logo:hover{
  transform: scale(1.1);
}

nav ul{
  float: right;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  padding: 7px 13px;
  text-transform: uppercase;
  transform: scale(1.1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 5px;
  top: -5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hd{
  display: none;
}

a.active:hover{
  transform: scale(1.1);
}

.active{
  background-color: #b04900;
  border-radius: 10px;
}
.link-list{
  color: white;
  font-size: 15px;
  text-decoration: none;
  position: relative;
}

.link-list::after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff; /* Colore della linea */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.link-list:hover::after{
  transform: scaleX(0.6);

}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}



.cart{
  font-size: 1.3rem;
  cursor: pointer;
  width: 100px;
  color: #ffffff;
  text-align: center;

}

.registrationzone{
  display: flex;
  align-items: center;

}

.display{
  display: none;
}

#paycheck{
  z-index: 1000;
}



@media screen and (max-width: 952px){
  .logo{
    margin: 0px;
  }

  nav{
    justify-content: space-between;
  }

  nav ul li a{
    font-size: 16px;
  }


}

@media screen and (max-width: 1485px){
 .pad{
  padding: 0;
 }
 .link-list{
  font-size: 14px;

 }

}
@media screen and (min-width: 1485px){
  .mrg{
    margin-right: 100px;
  }
}
  @media screen and (max-width: 1485px){
    .mrg{
      margin-right: 20px;
    }
 }
@media (max-width: 1126px){
  .checkbtn{
    display: block;
    position: static;
  }
  .logo{
    margin-left: 0px;
  }
  .hd{
    display: inline-block;
  }
  .bo{
    display: none;
  }
  .pad{
    padding-left: 0;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;


  }

  nav ul li a{
    font-size: 20px;

  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #D15800;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 2;
  }

  #check:checked ~ ul{
    left: 0;
  }
}

.div1{
  display: flex;
  justify-content: left;
}





