<div style="background-color: #D15800;width: 60%;margin:50px auto;border-radius: 10px;">
  <h2 style="color: white; margin-left: 5rem;margin-bottom: 2rem;">I TUOI ARTICOLI:</h2>
  <div  style="color: white; margin-left: 3rem;margin-bottom: 2rem;">
      <ul>
        <li>X2 Bicicletta bella</li>
        <hr>
        <li>X2 Bicicletta bella</li>
        <hr>
        <li>X1 Bicicletta bella</li>
        <hr>
        <li>X3 Bicicletta bella</li>
        <h3 style="margin:50px 0px;color: white;">Totale: 950€</h3>
      </ul>
    </div>
    <div class="d-flex justify-content-center">

      <div id="paycheck"></div>
    </div>
</div>
