<!-- <div style="background-color: #D15800;width: 60%;margin:50px auto;border-radius: 10px;">
  <h2 style="color: white; margin-left: 5rem;margin-bottom: 2rem;">I TUOI ARTICOLI:</h2>
  <div  style="color: white; margin-left: 3rem;margin-bottom: 2rem;">
      <ul>
        <li>X2 Bicicletta bella</li>
        <hr>
        <li>X2 Bicicletta bella</li>
        <hr>
        <li>X1 Bicicletta bella</li>
        <hr>
        <li>X3 Bicicletta bella</li>
        <h3 style="margin:50px 0px;color: white;">Totale: 950€</h3>
      </ul>
    </div>
    <h4 style="color: white; margin-left: 5rem;margin-bottom: 2rem; text-align: center;">Seleziona un metodo di pagamento</h4>
    <hr>
    <div class="d-flex justify-content-center">
      <div class="mx-3">
        <fa-icon style="color: white; margin-right: 20px; font-size: 3rem; cursor: pointer;width: 100%;" [icon]="Creditcard"></fa-icon>
      </div>
      <div class="d-flex flex-column">
        <div style="margin-top:30px;" id="paycheck"></div>
        <div>

          <p style="font-size: 0.9rem;color: white;">+0.10€ di commissioni</p>
        </div>
      </div>
    </div>
</div> -->

<div class=" container-fluid my-5 ">
  <div class="row justify-content-center ">
      <div class="col-xl-10">
          <div class="card shadow-lg ">
              <div class="row  mx-auto justify-content-center text-center">
                  <div class="col-12 mt-3 ">
                      <nav aria-label="breadcrumb" class="second ">
                          <ol class="breadcrumb indigo lighten-6 first  ">
                              <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink=""><span class="mr-md-3 mr-1">Home</span></a><i class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
                              <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase " routerLink="/Catalogue"><span class="mr-md-3 mr-1">Torna al catalogo</span></a><i class="fa fa-angle-double-right " aria-hidden="true"></i></li>
                              <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2" href="#"><span class="mr-md-3 mr-1">CHECKOUT</span></a></li>
                          </ol>
                      </nav>
                  </div>
              </div>

              <div class="row justify-content-around">

                <!-- SEZIONE ORDINI CARRELLO  -->

                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space">I TUOI ORDINI</p>
                                <hr class="my-2">
                            </div>
                            <div *ngIf="resultCart.length > 0; then showCartProducts else NoProducts"> </div>
                            <ng-template #showCartProducts>

                                <div class="card-body pt-0" >
                                    <div class="row  justify-content-between" *ngFor="let val of resultCart">
                                        <div class="col-auto col-md-7">
                                            <div class="media flex-column flex-sm-row">
                                                <img  class=" img-fluid"  [src]="val.product.sanitizedPhoto" width="62" height="62">
                                                <div class="media-body  my-auto">
                                                    <div class="row ">
                                                        <div class="col-auto"><p class="mb-0"><b>{{val.product.name}}</b></p> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" pl-0 flex-sm-col col-auto  my-auto"> <p class="boxed-1">{{val.quantity}}</p></div>
                                        <div class="minus pl-0 flex-sm-col col-auto  my-auto" (click)="deleteproduct(val.userId, val.productId)"> <fa-icon [icon]="line"></fa-icon></div>
                                        <div class=" pl-0 flex-sm-col col-auto  my-auto "><p><b>{{val.product.listPrice}} €</b></p></div>
                                        <hr class="my-2">
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="row justify-content-between">
                                                <div class="col-4"><p class="mb-1"><b>Costo prodotti: </b></p></div>
                                                <div class="flex-sm-col col-auto"><p class="mb-1"><b>{{totPrice}} €</b></p></div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col"><p class="mb-1"><b>Spese di spedizione: </b></p></div>
                                                <div class="flex-sm-col col-auto"><p class="mb-1"><b>50€</b></p></div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-4"><p ><b>Totale</b></p></div>
                                                <div class="flex-sm-col col-auto"><p  class="mb-1"><b> {{ finalCost}} €</b></p> </div>
                                            </div><hr class="my-0">
                                        </div>
                                    </div>
                                </div>

                            </ng-template>
                            <ng-template #NoProducts>
                                <p class="card-text text-muted mt-md-4  mb-2 space">Non ci sono prodotti da visualizzare, prova ad acquistare qualcosa!</p>
                            </ng-template>


                        </div>
                      </div>

                    <!-- SEZIONE PAGAMENTO  -->
                      <div class="col-md-5">
                          <div class="card border-0">
                              <div class="card-body">
                                  <div class="row mt-4">
                                      <div class="col"><p class="text-muted mb-2">DETTAGLI PAGAMENTO</p><hr class="mt-0"></div>
                                  </div>
                                  <div class="form-group">
                                      <label for="NAME" class="small text-muted mb-1">NOME TITOLARE</label>
                                      <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId">
                                  </div>
                                  <div class="form-group">
                                    <label for="indirizzo" class="small text-muted mb-1">INDIRIZZO</label>
                                    <input #indirizzoInput type="text" class="form-control form-control-sm" name="indirizzo" id="indirizzo" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="numerocivico" class="small text-muted mb-1">NUMERO CIVICO</label>
                                    <input #numerocivico type="number" class="form-control form-control-sm" name="numerocivico" id="numerocivico" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="codicepostale" class="small text-muted mb-1">CODICE POSTALE</label>
                                    <input #codicepostale type="number" class="form-control form-control-sm" name="codicepostale" id="codicepostale" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="city" class="small text-muted mb-1">CITTA'</label>
                                    <input #city type="text" class="form-control form-control-sm" name="city" id="city" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="regione" class="small text-muted mb-1">REGIONE</label>
                                    <input #regione type="text" class="form-control form-control-sm" name="regione" id="regione" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="stato" class="small text-muted mb-1">STATO</label>
                                    <input #stato type="text" class="form-control form-control-sm" name="stato" id="stato" aria-describedby="helpId">
                                </div>
                                  <div class="form-group">
                                      <label for="NAME" class="small text-muted mb-1">NUMERO CARTA</label>
                                      <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId">
                                  </div>
                                  <div class="row no-gutters">
                                      <div class="col-sm-6 pr-sm-2">
                                          <div class="form-group">
                                              <label for="NAME" class="small text-muted mb-1">DATA SCADENZA</label>
                                              <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" placeholder="02/2026" aria-describedby="helpId">
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <label for="NAME" class="small text-muted mb-1">CODICE CVC</label>
                                              <input  type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row mb-md-5">
                                      <div class="col">
                                          <button type="submit" (click)="payment(indirizzoInput , numerocivico, codicepostale, city, regione, stato  )" class="btn btn-lg btn-block btn-1">EFFETTUA PAGAMENTO</button>
                                      </div>
                                  </div>
                                  <div class="d-flex flex-column">
                                    <div style="margin-top:30px;" id="paycheck"></div>
                                    <div>

                                      <p style="font-size: 0.9rem;color: black;">+0.10€ di commissioni</p>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>



                    <!--fine Pagamento-->





              </div>
          </div>
      </div>
  </div>
</div>
