/* *{
  list-style: none;
}
li{
  font-size: 1.6rem;
  color: white;
} */

.shop{
  font-size: 10px;
}

.space{
  letter-spacing: 0.8px;
}

.second a:hover {
  color: rgb(92, 92, 92) ;
}

.active-2 {
  color: rgb(92, 92, 92)
}


.breadcrumb>li+li:before {
  content: ""
}

.breadcrumb {
  padding: 0px;
  font-size: 10px;
  color: #aaa;
}

.first {
  background-color: white ;
}

a {
  text-decoration: none;
  color: #aaa ;
}

.btn-lg,.form-control-sm:focus,
.form-control-sm:active,
a:focus,a:active {
  outline: none;
  box-shadow: none;
}

.form-control-sm:focus{
  border:1.5px solid #4bb8a9 ;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 0.1rem;
  font-size: 1rem;
  border-radius: 0;
  color: white;
  background-color: #D15800;
  height: 2.8rem;
  border-radius: 0.2rem;
}

.btn-group-lg>.btn:hover, .btn-lg:hover {
  background-color: white;
  border-color: #D15800;
}

.btn-outline-primary{
  background-color: #fff;
  color:#4bb8a9 ;
  border-radius: 0.2rem;
  border:1px solid #4bb8a9;
}

.btn-outline-primary:hover{
  background-color:#4bb8a9;
  color:#fff;
  border:1px solid #4bb8a9;
}

.card-2{
  margin-top: 0.5rem;
}

.card-header{
  background-color: #fff;
  border-bottom:0px solid #aaaa ;
}

p{
  font-size: 13px ;
}

.small{
  font-size: 9px;
}

.form-control-sm {
  height: calc(2.2em + .5rem + 2px);
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.boxed-1{
  padding: 0px 8px 0 8px ;
  color: black;
  border: 1px solid #aaaa;
}

.bell{
  opacity: 0.5;
  cursor: pointer;
}

.btn-1{
  margin-top: 20px;
}


.minus{
  background-color: red;
  padding: 2px;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .breadcrumb-item+.breadcrumb-item {
      padding-left: 0
  }
}
