<div style="background-color: #D15800;width: 60%;margin:50px auto;border-radius: 10px;">
  <h2 style="color: white; margin-left: 5rem;margin-bottom: 2rem;">I TUOI ARTICOLI:</h2>
  <div  style="color: white; margin-left: 3rem;margin-bottom: 2rem;">
      <ul>
        <li>X2 Bicicletta bella</li>
        <hr>
        <li>X2 Bicicletta bella</li>
        <hr>
        <li>X1 Bicicletta bella</li>
        <hr>
        <li>X3 Bicicletta bella</li>
        <h3 style="margin:50px 0px;color: white;">Totale: 950€</h3>
      </ul>
    </div>
    <h4 style="color: white; margin-left: 5rem;margin-bottom: 2rem; text-align: center;">Seleziona un metodo di pagamento</h4>
    <hr>
    <div class="d-flex justify-content-center">
      <div class="mx-3">
        <fa-icon style="color: white; margin-right: 20px; font-size: 3rem; cursor: pointer;width: 100%;" [icon]="Creditcard"></fa-icon>
      </div>
      <div class="d-flex flex-column">
        <div style="margin-top:30px;" id="paycheck"></div>
        <div>

          <p style="font-size: 0.9rem;color: white;">+0.10€ di commissioni</p>
        </div>
      </div>
    </div>
</div>
